body {
  background: radial-gradient(ellipse at center, #0d0d0d 0%, #000000 100%);
  animation: fondo 10s ease infinite alternate;
  font-family: 'Poppins', sans-serif;
  color: gold;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@keyframes fondo {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.contenedor {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 40px 30px;
  width: 90%;
  max-width: 500px;
  box-shadow:
    0 0 20px rgba(255, 215, 0, 0.5),
    0 0 40px rgba(255, 215, 0, 0.3),
    0 0 80px rgba(255, 215, 0, 0.2);
}

.encabezado {
  text-align: center;
  margin-bottom: 30px;
}

.encabezado h1 {
  color: gold;
  margin: 0;
  font-size: 28px;
}

.btn-volver {
  margin-top: 15px;
  background: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  box-shadow:
    0 0 10px rgba(255, 215, 0, 0.5),
    0 0 20px rgba(255, 215, 0, 0.3);
}

.btn-volver:hover {
  background-color: gold;
  color: black;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo {
  color: silver;
font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-shadow:
    0 0 20px rgba(255, 215, 0, 0.5),
    0 0 40px rgba(255, 215, 0, 0.3);
}

.valor {
  color: gold;
  font-weight: bold;
}

.input-dorado {
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: gold;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.input-dorado::placeholder {
  color: #d4af37b4;
}

.btn-dorado {
  background: transparent;
  border: none;
  color: gold;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  box-shadow:
    0 0 10px rgba(255, 215, 0, 0.6),
    0 0 30px rgba(255, 215, 0, 0.4),
    0 0 50px rgba(255, 215, 0, 0.2);
}

.btn-dorado:hover {
  background-color: gold;
  color: black;
}

.sala-info {
  margin-top: 30px;
}
